body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 1400px;
    margin: 0 auto;
    min-height: 10px;
}

.menu-item {
    padding: 20px 0;
    font-weight: 700;
    color: white;
}

.menu-item-left {
    padding: 0 8px;
}

.menu-item-right {
    padding: 0 5px;
}

.logo {
    height: 30px;
}

#ombra { 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}